
    <ul>
        <div class="logo">
            <a href="index.html">
            <img src="Images/ALTLOGO.png" width="150" height="75">
       </div>

       <div class="items">
          <li><a href="index.html">HOME</a></li>
          <li><a href="ProductL.html">FOOTWEAR</a></li>
          <li><a href="aboutus.html">ABOUT US</a></li>
          <li><a href="views\login.ejs">LOGIN</a></li>
       </div>
          <li class="icon">
            <a href="Search.html">
          <span class="fas fa-search"></span>
            </a>
          </li>
       </li>
    </ul>